<a href="https://colab.research.google.com/github/pedrohori/MC504_1s2022/blob/main/Bix_tecnologia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import glob
import pandas as pd
import numpy as np
import scipy
import math


import sklearn
import joblib
from sklearn.preprocessing import StandardScaler
import seaborn as sns
sns.set(color_codes=True)
import matplotlib.pyplot as plt
%matplotlib inline

from numpy.random import seed
import tensorflow as tf
import logging
logging.getLogger('tensorflow').setLevel(logging.ERROR)


from keras.layers import Input, Dropout, Dense, LSTM, TimeDistributed, RepeatVector
from keras.models import Model
from keras import regularizers

import joblib

import random
random.seed(12)  # Set the random seed

#Download dos dados

In [2]:
df = pd.read_csv('/content/air_system_previous_years.csv')
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 171 entries, class to eg_000
dtypes: int64(1), object(170)
memory usage: 78.3+ MB
None

In [4]:
df_present = pd.read_csv('/content/air_system_present_year.csv')
df_present.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,60,0,20,12,0,0,0,0,0,...,1098,138,412,654,78,88,0,0,0,0
1,neg,82,0,68,40,0,0,0,0,0,...,1068,276,1620,116,86,462,0,0,0,0
2,neg,66002,2,212,112,0,0,0,0,0,...,495076,380368,440134,269556,1315022,153680,516,0,0,0
3,neg,59816,na,1010,936,0,0,0,0,0,...,540820,243270,483302,485332,431376,210074,281662,3232,0,0
4,neg,1814,na,156,140,0,0,0,0,0,...,7646,4144,18466,49782,3176,482,76,0,0,0

In [5]:
print(df_present.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Columns: 171 entries, class to eg_000
dtypes: int64(1), object(170)
memory usage: 20.9+ MB
None

#Questões

In [7]:
df["class"].value_counts()

class
neg    59000
pos     1000
Name: count, dtype: int64

In [8]:
df_ee_003 = df[["ee_003"]]
print(df_ee_003.value_counts())
df_ee_003 = df_ee_003.drop(df_ee_003[df_ee_003['ee_003'] == 'na'].index)
print(df_ee_003.value_counts())
df_ee_003['ee_003'] = df_ee_003['ee_003'].astype('int64')


print(df_ee_003.describe())
print(df_ee_003.median())

ee_003
0         1557
na         671
10         479
8          453
12         403
          ...
198872       1
19886        1
198846       1
198838       1
237100       1
Name: count, Length: 31712, dtype: int64
ee_003
0         1557
10         479
8          453
12         403
14         338
          ...
212280       1
212262       1
212238       1
212232       1
99992        1
Name: count, Length: 31711, dtype: int64
             ee_003
count  5.932900e+04
mean   2.111264e+05
std    5.433188e+05
min    0.000000e+00
25%    1.166000e+03
50%    1.120860e+05
75%    2.182320e+05
max    3.775839e+07
ee_003    112086.0
dtype: float64

In [9]:
df_ag_002 = df[["ag_002"]]
print(df_ag_002.value_counts())
df_ag_002 = df_ag_002.drop(df_ag_002[df_ag_002['ag_002'] == 'na'].index)
print(df_ag_002.value_counts())
df_ag_002['ag_002'] = df_ag_002['ag_002'].astype('int64')


print(df_ag_002.describe())
print(df_ag_002.median())

ag_002
0         56181
na          671
6             9
342           9
16            8
          ...
233230        1
233002        1
232396        1
23232         1
3144          1
Name: count, Length: 2423, dtype: int64
ag_002
0         56181
342           9
6             9
16            8
12            7
          ...
233002        1
232396        1
23232         1
23218         1
9996          1
Name: count, Length: 2422, dtype: int64
             ag_002
count  5.932900e+04
mean   8.606015e+03
std    1.503220e+05
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    1.055286e+07
ag_002    0.0
dtype: float64

In [10]:
df_spearman = df[["ag_002", "ee_007"]]
df_spearman = df_spearman.drop(df_spearman[df_spearman['ag_002'] == 'na'].index)
df_spearman = df_spearman.drop(df_spearman[df_spearman['ee_007'] == 'na'].index)

df_spearman['ag_002'] = df_spearman['ag_002'].astype('float64')
df_spearman['ee_007'] = df_spearman['ee_007'].astype('float64')

spearmanr = scipy.stats.spearmanr(df_spearman['ag_002'], df_spearman['ee_007'])
print(spearmanr)

SignificanceResult(statistic=0.19508353891062494, pvalue=0.0)

In [11]:
df_Pearson = df[["ee_005", "ac_000"]]
df_Pearson = df_Pearson.drop(df_Pearson[df_Pearson['ee_005'] == 'na'].index)
df_Pearson = df_Pearson.drop(df_Pearson[df_Pearson['ac_000'] == 'na'].index)

df_Pearson['ee_005'] = df_Pearson['ee_005'].astype('int64')
df_Pearson['ac_000'] = df_Pearson['ac_000'].astype('int64')

pearsonr = scipy.stats.pearsonr(df_Pearson['ac_000'], df_Pearson['ee_005'])
print(pearsonr)

PearsonRResult(statistic=-0.011206391618647357, pvalue=0.00788222000627614)

In [12]:
df_ad_000 = df[["class","ad_000"]]
df_ad_000 = df_ad_000.drop(df_ad_000[df_ad_000['ad_000'] == 'na'].index)
df_ad_000['ad_000'] = df_ad_000['ad_000'].astype('float64')

print(df_ad_000['ad_000'][df_ad_000['class'] == 'neg'].median())
print(df_ad_000['ad_000'][df_ad_000['class'] == 'pos'].median())

124.0
648.0

In [13]:
df_ee_001 = df[["class","ee_001"]]
df_ee_001 = df_ee_001.drop(df_ee_001[df_ee_001['ee_001'] == 'na'].index)
df_ee_001['ee_001'] = df_ee_001['ee_001'].astype('float64')

print(df_ee_001['ee_001'][df_ee_001['class'] == 'neg'].mean())
print(df_ee_001['ee_001'][df_ee_001['class'] == 'pos'].mean())

661516.0092913224
7957407.738693467

In [14]:
nan_count = 0
nan_rank = pd.DataFrame(columns=['nan_count'])
for i in df.columns:
  if 'na' in df[i].value_counts().index:
    nan_count +=df[i].value_counts()["na"]
    nan_rank.loc[i] = [df[i].value_counts()["na"]]
print(nan_count)
nan_rank.sort_values(by=['nan_count'])

850015

        nan_count
bt_000        167
ci_000        338
cj_000        338
ck_000        338
by_000        473
...           ...
cr_000      46329
bo_000      46333
bp_000      47740
bq_000      48722
br_000      49264

[169 rows x 1 columns]

In [15]:
def cost_function(fp, fn, tn):
  return(10*fp+5000*fn+25*tn)

print(cost_function(678,628,132))
print(cost_function(1227,638,465))
print(cost_function(1967,408,152))
print(cost_function(1621,585,216))
print(cost_function(542,585,216))

3150080
3213895
2063470
2946610
2935820

In [16]:
print(df[["ci_000"]])

           ci_000
0         5245752
1      2291079.36
2      2322692.16
3         2135.04
4       3565684.8
...           ...
59995  8289544.32
59996   123344.64
59997     7518.72
59998  4776505.92
59999  2480113.92

[60000 rows x 1 columns]

In [17]:
df_ci_000 = df[["ci_000"]]
df_ci_000 = df_ci_000.drop(df_ci_000[df_ci_000['ci_000'] == 'na'].index)
df_ci_000['ci_000'] = df_ci_000['ci_000'].astype('float64')

print(df_ci_000.describe())

df_ci_000.quantile(0.32)

             ci_000
count  5.966200e+04
mean   3.481204e+06
std    8.355997e+06
min    0.000000e+00
25%    4.824984e+04
50%    1.858641e+06
75%    2.947266e+06
max    1.409861e+08

ci_000    96517.5552
Name: 0.32, dtype: float64

#Tratamento e Limpeza dos dados

In [18]:
#Eliminar colunas com mais de 1/4 dos valores sendo NaN

df_clear = df
for i in df.columns:
  if i in nan_rank.index:
    if nan_rank.loc[i][0] > 15000:
      print(i)
      df_clear = df_clear.drop(columns=[i])

ab_000
bk_000
bl_000
bm_000
bn_000
bo_000
bp_000
bq_000
br_000
cr_000

In [19]:
#Substituir valores NaN pela mediana da coluna

print(df_clear.isnull().values.any())
df_clear = df_clear.replace("na", math.nan)
df_clear = df_clear.replace("neg", 0)
df_clear = df_clear.replace("pos", 1)
print(df_clear.isnull().values.any())
for i in df_clear.columns:
  if i != "class":
    df_clear[i] = df_clear[i].astype('float64')
    df_clear[i] = df_clear[i].fillna(df_clear[i].median())

print(df_clear.isnull().values.any())

False
True
False

In [20]:
#eliminar variaveis com correlação menor que 0.2 (calculando correlação com point_biserial)
for i in df_clear.columns:
  if i != "class":
    point_biserial, p_value = scipy.stats.pointbiserialr((df_clear['class']), df_clear[i])
    if (point_biserial <0.2):
      print(i)
      df_clear = df_clear.drop(columns=[i])

ac_000
ad_000
ae_000
af_000
ag_000
ag_001
ag_008
ag_009
ai_000
aj_000
ak_000
ar_000
as_000
at_000
au_000
av_000
ax_000
ay_000
ay_001
ay_002
ay_003
ay_004
ay_009
az_002
az_003
az_006
az_008
az_009
bc_000
bd_000
be_000
bf_000
bs_000
bz_000
ca_000
cb_000

/usr/local/lib/python3.10/dist-packages/scipy/stats/_stats_py.py:4781: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))

ce_000
cf_000
cg_000
ch_000
cl_000
cn_006
cn_007
cn_008
cn_009
co_000
cp_000
cs_007
cs_008
cs_009
ct_000
cu_000
cy_000
cz_000
da_000
db_000
de_000
df_000
dg_000
dh_000
di_000
dj_000
dk_000
dl_000
dm_000
dq_000
dr_000
du_000
dv_000
dx_000
dy_000
dz_000
ea_000
eb_000
ee_007
ee_009
ef_000
eg_000

In [21]:
print(df_clear)

       class    aa_000  ag_002  ag_003   ag_004     ag_005     ag_006  \
0          0   76698.0     0.0     0.0  37250.0  1432864.0  3664156.0
1          0   33058.0     0.0     0.0  18254.0   653294.0  1720800.0
2          0   41040.0     0.0     0.0   1648.0   370592.0  1883374.0
3          0      12.0     0.0   318.0   2212.0     3232.0     1872.0
4          0   60874.0     0.0     0.0  43752.0  1966618.0  1800340.0
...      ...       ...     ...     ...      ...        ...        ...
59995      0  153002.0     0.0  2564.0  59100.0  1603216.0  6015982.0
59996      0    2286.0     0.0     0.0    104.0    99186.0    36564.0
59997      0     112.0     0.0     0.0     28.0    11592.0    11538.0
59998      0   80292.0     0.0     0.0    330.0   202498.0  3251010.0
59999      0   40222.0     0.0     0.0   1226.0    46284.0  1901140.0

          ag_007     ah_000  al_000  ...    ec_00  ed_000     ee_000  \
0      1007684.0  2551696.0     0.0  ...  2445.80  2712.0   965866.0
1       516724.0  1393352.0     0.0  ...  2211.76  2334.0   664504.0
2       292936.0  1234132.0     0.0  ...  1018.64  1020.0   262032.0
3            0.0     2668.0   642.0  ...     1.08    54.0     5670.0
4       131646.0  1974038.0     0.0  ...  1116.06  1176.0   404740.0
...          ...        ...     ...  ...      ...     ...        ...
59995  1968266.0  4880368.0  1224.0  ...  2912.04  2858.0  1608808.0
59996      128.0    56982.0     0.0  ...    80.40    82.0    13934.0
59997        0.0     8784.0     0.0  ...     2.76   134.0    15876.0
59998  2061456.0  2634394.0     0.0  ...  1659.70  1908.0  1180714.0
59999   855376.0  1235850.0     0.0  ...  1035.22  1256.0   409798.0

          ee_001     ee_002    ee_003     ee_004     ee_005     ee_006  \
0      1706908.0  1240520.0  493384.0   721044.0   469792.0   339156.0
1       824154.0   421400.0  178064.0   293306.0   245416.0   133654.0
2       453378.0   277378.0  159812.0   423992.0   409564.0   320746.0
3         1566.0      240.0      46.0       58.0       44.0       10.0
4       904230.0   622012.0  229790.0   405298.0   347188.0   286954.0
...          ...        ...       ...        ...        ...        ...
59995  1479066.0   998500.0  566884.0  1290398.0  1218244.0  1019768.0
59996    15024.0    10578.0    6760.0    21126.0    68424.0      136.0
59997     2740.0      792.0     386.0      452.0      144.0      146.0
59998  1709450.0   699352.0  222654.0   347378.0   225724.0   194440.0
59999   686416.0   440066.0  183200.0   344546.0   254068.0   225148.0

         ee_008
0       73224.0
1       97576.0
2       95128.0
3           0.0
4      433954.0
...         ...
59995  898642.0
59996       0.0
59997       0.0
59998  802280.0
59999  170384.0

[60000 rows x 83 columns]

In [22]:
y_train = df_clear['class']
x_train = df_clear.drop(columns=['class'])

In [23]:
print(x_train)

         aa_000  ag_002  ag_003   ag_004     ag_005     ag_006     ag_007  \
0       76698.0     0.0     0.0  37250.0  1432864.0  3664156.0  1007684.0
1       33058.0     0.0     0.0  18254.0   653294.0  1720800.0   516724.0
2       41040.0     0.0     0.0   1648.0   370592.0  1883374.0   292936.0
3          12.0     0.0   318.0   2212.0     3232.0     1872.0        0.0
4       60874.0     0.0     0.0  43752.0  1966618.0  1800340.0   131646.0
...         ...     ...     ...      ...        ...        ...        ...
59995  153002.0     0.0  2564.0  59100.0  1603216.0  6015982.0  1968266.0
59996    2286.0     0.0     0.0    104.0    99186.0    36564.0      128.0
59997     112.0     0.0     0.0     28.0    11592.0    11538.0        0.0
59998   80292.0     0.0     0.0    330.0   202498.0  3251010.0  2061456.0
59999   40222.0     0.0     0.0   1226.0    46284.0  1901140.0   855376.0

          ah_000  al_000    am_0  ...    ec_00  ed_000     ee_000     ee_001  \
0      2551696.0     0.0     0.0  ...  2445.80  2712.0   965866.0  1706908.0
1      1393352.0     0.0     0.0  ...  2211.76  2334.0   664504.0   824154.0
2      1234132.0     0.0     0.0  ...  1018.64  1020.0   262032.0   453378.0
3         2668.0   642.0  3894.0  ...     1.08    54.0     5670.0     1566.0
4      1974038.0     0.0     0.0  ...  1116.06  1176.0   404740.0   904230.0
...          ...     ...     ...  ...      ...     ...        ...        ...
59995  4880368.0  1224.0  2114.0  ...  2912.04  2858.0  1608808.0  1479066.0
59996    56982.0     0.0     0.0  ...    80.40    82.0    13934.0    15024.0
59997     8784.0     0.0     0.0  ...     2.76   134.0    15876.0     2740.0
59998  2634394.0     0.0     0.0  ...  1659.70  1908.0  1180714.0  1709450.0
59999  1235850.0     0.0     0.0  ...  1035.22  1256.0   409798.0   686416.0

          ee_002    ee_003     ee_004     ee_005     ee_006    ee_008
0      1240520.0  493384.0   721044.0   469792.0   339156.0   73224.0
1       421400.0  178064.0   293306.0   245416.0   133654.0   97576.0
2       277378.0  159812.0   423992.0   409564.0   320746.0   95128.0
3          240.0      46.0       58.0       44.0       10.0       0.0
4       622012.0  229790.0   405298.0   347188.0   286954.0  433954.0
...          ...       ...        ...        ...        ...       ...
59995   998500.0  566884.0  1290398.0  1218244.0  1019768.0  898642.0
59996    10578.0    6760.0    21126.0    68424.0      136.0       0.0
59997      792.0     386.0      452.0      144.0      146.0       0.0
59998   699352.0  222654.0   347378.0   225724.0   194440.0  802280.0
59999   440066.0  183200.0   344546.0   254068.0   225148.0  170384.0

[60000 rows x 82 columns]

In [24]:
#Data Normalization
print(x_train.isnull().values.any())
#for column in x_train.columns:
#    x_train[column] = (x_train[column] - x_train[column].min()) / (x_train[column].max() - x_train[column].min())
colunas = x_train.columns
stan = StandardScaler().fit(x_train)

x_train = stan.transform(x_train)
x_train = pd.DataFrame(x_train)
x_train.columns = colunas


print(x_train)
print(x_train.isnull().values.any())

False
         aa_000    ag_002    ag_003    ag_004    ag_005    ag_006    ag_007  \
0      0.119381 -0.056929 -0.115643 -0.167274  0.103186  0.518102  0.362192
1     -0.180697 -0.056929 -0.115643 -0.175319 -0.136995  0.018291  0.015307
2     -0.125811 -0.056929 -0.115643 -0.182351 -0.224093  0.060103 -0.142809
3     -0.407928 -0.056929 -0.115223 -0.182112 -0.337275 -0.423800 -0.349781
4      0.010572 -0.056929 -0.115643 -0.164521  0.267632  0.038748 -0.256767
...         ...       ...       ...       ...       ...       ...       ...
59995  0.644064 -0.056929 -0.112258 -0.158021  0.155670  1.122967  1.040886
59996 -0.392291 -0.056929 -0.115643 -0.183005 -0.307712 -0.414877 -0.349691
59997 -0.407240 -0.056929 -0.115643 -0.183037 -0.334699 -0.421314 -0.349781
59998  0.144095 -0.056929 -0.115643 -0.182909 -0.275882  0.411845  1.106729
59999 -0.131435 -0.056929 -0.115643 -0.182530 -0.324011  0.064672  0.254580

         ah_000    al_000      am_0  ...     ec_00    ed_000    ee_000  \
0      0.180223 -0.109015 -0.109228  ...  0.370080  0.419294  0.098933
1     -0.097959 -0.109015 -0.109228  ...  0.297591  0.302633 -0.026471
2     -0.136196 -0.109015 -0.109228  ... -0.071956 -0.102901 -0.193951
3     -0.431938 -0.107819 -0.104620  ... -0.387127 -0.401033 -0.300630
4      0.041496 -0.109015 -0.109228  ... -0.041782 -0.054755 -0.134566
...         ...       ...       ...  ...       ...       ...       ...
59995  0.739465 -0.106734 -0.106727  ...  0.514490  0.464353  0.366479
59996 -0.418895 -0.109015 -0.109228  ... -0.362559 -0.392392 -0.297191
59997 -0.430470 -0.109015 -0.109228  ... -0.386606 -0.376343 -0.296383
59998  0.200084 -0.109015 -0.109228  ...  0.126600  0.171159  0.188338
59999 -0.135784 -0.109015 -0.109228  ... -0.066821 -0.030065 -0.132462

         ee_001    ee_002    ee_003    ee_004    ee_005    ee_006    ee_008
0      0.363023  0.693832  0.524393  0.239087  0.070072  0.008264 -0.143103
1      0.017670 -0.018901 -0.059135 -0.129021 -0.131171 -0.184975 -0.088650
2     -0.127386 -0.144217 -0.092912 -0.016553  0.016053 -0.009047 -0.094124
3     -0.304145 -0.385361 -0.388574 -0.381387 -0.351244 -0.310645 -0.306838
4      0.048997  0.155656  0.036588 -0.032641 -0.039892 -0.040823  0.663519
...         ...       ...       ...       ...       ...       ...       ...
59995  0.273886  0.483245  0.660411  0.729068  0.741356  0.648264  1.702599
59996 -0.298880 -0.376366 -0.376149 -0.363256 -0.289914 -0.310526 -0.306838
59997 -0.303686 -0.384881 -0.387945 -0.381048 -0.351154 -0.310517 -0.306838
59998  0.364018  0.222951  0.023382 -0.082487 -0.148832 -0.127816  1.487126
59999 -0.036216 -0.002659 -0.049631 -0.084924 -0.123411 -0.098941  0.074155

[60000 rows x 82 columns]
False

#Modelos de classificação

##SVM

In [ ]:
from sklearn.svm import SVC
svm = SVC(random_state = 1)
svm.fit(x_train,y_train)
print("SVM accuracy is {} on Train Dataset".format(svm.score(x_train,y_train)))

In [ ]:
from sklearn import metrics
import seaborn as sns

predicted_svm = svm.predict(x_train)

confusion_matrix_svm = metrics.confusion_matrix(y_train, predicted_svm)

sns.heatmap(confusion_matrix_svm, annot=True,fmt='d', cmap='YlGnBu')
plt.ylabel('Actual',fontsize=12)
plt.xlabel('Prediction',fontsize=12)
plt.title('Confusion Matrix SVM',fontsize=16)
plt.show()

##KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3) #n_neighbors = k
knn.fit(x_train,y_train)
print("k={}NN Accuracy on Train Data: {}".format(3,knn.score(x_train,y_train)))

In [ ]:
predicted_knn = knn.predict(x_train)

confusion_matrix_knn = metrics.confusion_matrix(y_train, predicted_knn)

sns.heatmap(confusion_matrix_knn, annot=True,fmt='d', cmap='YlGnBu')
plt.ylabel('Actual',fontsize=12)
plt.xlabel('Prediction',fontsize=12)
plt.title('Confusion Matrix',fontsize=16)
plt.show()

##LNN Model

In [25]:
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras import Sequential
from tensorflow.keras.activations import sigmoid

model = Sequential()

model.add(Dense(32, activation='relu', input_shape=(82,),kernel_initializer='random_uniform'))
model.add(Dense(64, activation='relu',kernel_initializer='random_uniform'))
model.add(Dense(128, activation='relu',kernel_initializer='random_uniform'))
model.add(Dense(64, activation='relu',kernel_initializer='random_uniform'))
model.add(Dense(32, activation='relu',kernel_initializer='random_uniform'))
model.add(Dense(2, activation='softmax',kernel_initializer='random_uniform'))

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                2656

 dense_1 (Dense)             (None, 64)                2112

 dense_2 (Dense)             (None, 128)               8320

 dense_3 (Dense)             (None, 64)                8256

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 2)                 66

=================================================================
Total params: 23490 (91.76 KB)
Trainable params: 23490 (91.76 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
hist = model.fit(x_train , y_train , epochs=20)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(hist.history['accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.show()

In [ ]:
predicted_lnn = model.predict(x_train)

classes = []
for i in predicted_lnn:
    if max(i) == i[0]:
      classes.append(0)
    elif max(i) == i[1]:
      classes.append(1)

confusion_matrix_lnn = metrics.confusion_matrix(y_train, classes)

sns.heatmap(confusion_matrix_lnn, annot=True,fmt='d', cmap='YlGnBu')
plt.ylabel('Actual',fontsize=12)
plt.xlabel('Prediction',fontsize=12)
plt.title('Confusion Matrix',fontsize=16)
plt.show()

##LNN Model with custom Loss Function

In [26]:
def customLoss(y_true, y_pred):
  loss = 0
  for i in range(len(y_true)):
    loss += y_true[i] *(-math.log(y_pred[i]))+(1-y_pred[i])*(-math.log(1-y_pred[i]))
    print(loss)

  return loss

In [27]:
model_custom_loss = Sequential()

model_custom_loss.add(Dense(32, activation='relu', input_shape=(82,),kernel_initializer='random_uniform'))
model_custom_loss.add(Dense(64, activation='relu',kernel_initializer='random_uniform'))
model_custom_loss.add(Dense(128, activation='relu',kernel_initializer='random_uniform'))
model_custom_loss.add(Dense(64, activation='relu',kernel_initializer='random_uniform'))
model_custom_loss.add(Dense(32, activation='relu',kernel_initializer='random_uniform'))
model_custom_loss.add(Dense(1, activation='sigmoid',kernel_initializer='random_uniform'))

model_custom_loss.compile(optimizer='adam', loss=customLoss, metrics=['accuracy'])
model_custom_loss.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 32)                2656

 dense_7 (Dense)             (None, 64)                2112

 dense_8 (Dense)             (None, 128)               8320

 dense_9 (Dense)             (None, 64)                8256

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 23457 (91.63 KB)
Trainable params: 23457 (91.63 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
#hist2 = model_custom_loss.fit(x_train , y_train , epochs=20)

In [28]:
pred = model_custom_loss.predict(x_train)

1875/1875 [==============================] - 3s 1ms/step

In [29]:
import keras.backend as K

def custom_mse(y_true, y_pred):

    # calculating squared difference between target and predicted values
    loss = K.square(y_pred - y_true)  # (batch_size, 2)

    # multiplying the values with weights along batch dimension
    loss = loss * [0.3, 0.7]          # (batch_size, 2)

    # summing both loss values along batch dimension
    loss = K.sum(loss, axis=1)        # (batch_size,)

    return loss

In [30]:
def customLoss(y_true, y_pred):
  loss = 0
  for i in range(len(y_true)):
    loss += y_true[i] *(-math.log(y_pred[i]))+(1-y_pred[i])*(-math.log(1-y_pred[i]))
   # print(type(float(loss[0]/len(y_true))))
  return (float(loss[0]/len(y_true)))

In [ ]:
custom = custom_mse(y_train,pred)
print(custom)

In [ ]:
custom2 = customLoss(y_train,pred)
print(custom)

In [ ]:
predicted_lnn_custom = model_custom_loss.predict(x_train) >0.5

print(predicted_lnn_custom)
confusion_matrix_lnn_custom = metrics.confusion_matrix(y_train, predicted_lnn_custom)

sns.heatmap(confusion_matrix_lnn_custom, annot=True,fmt='d', cmap='YlGnBu')
plt.ylabel('Actual',fontsize=12)
plt.xlabel('Prediction',fontsize=12)
plt.title('Confusion Matrix',fontsize=16)
plt.show()